body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: white;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 60%;
}

.logo-content-img{
    border: solid 0px #42515f;
}

.emp-text{
    font: normal bold 15px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll{
    color: #42515f;
}

*{
    box-sizing: border-box;
}

.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items:center;
    border:8px solid green;
    min-width:min-content;
    
}

.form{
    width: 100%;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head{
    font:normal normal  bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    border: 0px solid green;
}

.label{
    min-width: 140px;
}

label{
    padding:12px 12px 12px 0px;
    display: inline-block;
}

.text{
    font-size: 19px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input{
    width: 100%;
    padding: 13px;
    border: 1px solid#ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content{
    display: flex;
    flex-direction: row;
}

.profile-radio-content>label{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.profile{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;

}

select{
    padding: 12px;
    border: 1px solid #CCC;
    border-radius: 10px;
    resize: vertical;
    font: normal auto ;
    letter-spacing: 1px;
    color: #42515f;
    background-color: transparent;
    margin: auto;
    margin: 10px;
    align-content: center;
    min-width: 120px;

    }
    .buttonParent {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        margin-top: 20px;
        }
        
        .button{
        font-size: 20px;
        font-family: Roboto;
        letter-spacing: Opx;
        color: #42515f;
        opacity: 1;
        background: transparent;
        border: none;
        font-weight: 400;
        min-width: 140px;
        padding: 7px 7px;
        border: 1px solid #707070;
        cursor: pointer;
        }

        .submitButton {
        border: none;
        background-color: #f5f5f5;
        margin-right: 30px;
        }

        .cancelButton {
       
        text-decoration: none;
        text-align: center;
        }

        @media only screen and (max-width: 960px) {
            .cancelButton {
            margin-left: 0px;
            }
            .form {
            width: 85%;
            padding: 44px 20px;
            }
            }
            
         @media only screen and (max-width: 600px) {
            .form{
            margin-top: 10px;
            }
            .row {
            flex-direction: column;
            }
            .uploadButton {
            justify-content: flex-start;
            }
            .profile-radio-button {
            flex-flow: wrap;
            }

            
            submit-reset {
            width: 100%;
            display: flex;
            flex-grow: 1;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 20px;
            }

            .submitButton {
            margin: 10;
            }

            .buttonParent {
            flex-direction: column-reverse;
            align-items: flex-start;
            }
        }
          .submit-reset{
            text-align: center;

          }
          .Button{
            border: 1px solid #3498db;
            background: none;
            padding: 10px 20px;
            font-size: 20px;
            font-family: "montserrat";
            cursor: pointer;
            margin: 10px;
            transition: 0.8s;
            position: relative;
            overflow: hidden;
          }
          .submit,.reset{
            color: #3498db;
          }
          
          .submit:Submit,.reset:Reset{
            color: #fff;
          }
          .Button::before{
            content: "";
            position: absolute;
            left: 0;
            width: 10%;
            height: 0%;
            background: #3498db;
            z-index: -1;
            transition: 0.8s;
          }
          .submit::before,.reset::before{
            top: 0;
            border-radius: 0 0 50% 50%;
          }
          
          .submit:Submit::before,.reset:Reset::before{
            height: 180%;
          }
          